extends ./template/layout

block content

  // jade can't render dynamic includes =(
  h2#sobre.heading= 'A. Sobre o jquery'
  include ./section/sobre

  h2#seletores.heading= 'B. Seletores'
  include ./section/seletores
