doctype 5
html
  head
    title= 'Workshop jQuery'

    //- styles
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,100')
    link(rel='stylesheet', href='/css/style.css')

  body
    .main-wrapper
      header.main-header
        h1.heading= 'Workshop jQuery'

        nav.main-nav
          ul.items
            each item in nav
              li.item
                a.link(href='#' + (item.link || item.label), title=item.label)= item.label

        - var label = 'exemplos'
        a.link.more(href='http://codepen.io/renancouto/pen/Gwsnv', target='_blank', title=label)= label

      block content

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")