li.item
  h3.sub-heading
    = '$.ajax vs $.get vs $.post'

  p.description

  pre.code.

li.item
  h3.sub-heading
    = 'parâmetros'

  p.description

  pre.code.

li.item
  h3.sub-heading
    = 'callbacks'

  p.description

  pre.code.