li.item
  h3.sub-heading
    = '"um método para todos governar"'

  p.description

  pre.code.

li.item
  h3.sub-heading
    = 'promisses & deferred'

  p.description

  pre.code.

li.item
  h3.sub-heading
    = 'async vs sync? async & sync!'

  p.description

  pre.code.

li.item
  h3.sub-heading
    = 'ajax e... o que você quiser'

  p.description

  pre.code.