li.item
  h3.sub-heading
    = 'conteúdo'

  p.description
    = 'Com jQuery nós podemos facilmente manipular o conteúdo de nossos elementos'

  pre.code.
    $('div').html(); <span class="comment">// retorna o conteúdo do elemento</span>
    $('div').html('ok'); <span class="comment">// define um novo conteúdo para o elemento</span>
    $('input').val(); <span class="comment">// retorna o valor do elemento</span>
    $('div').empty(); <span class="comment">// limpa o conteúdo do elemento</span>

li.item
  h3.sub-heading
    = 'classes e atributos'

  p.description

  pre.code.

li.item
  h3.sub-heading
    = 'append e prepend'

  p.description

  pre.code.

li.item
  h3.sub-heading
    = 'after e before'

  p.description

  pre.code.

li.item
  h3.sub-heading
    = 'clone'

  p.description

  pre.code.