li.item
  h3.sub-heading
    = 'CSS3!'

  p.description
    = 'Implementa a especificação do CSS 1 ao 3 e adiciona mais alguns recursos. O jQuery usa a biblioteca Sizzle (http://sizzlejs.com/) como engine para seleção de elementos.'

  pre.code.
    $('body');
    $('#fixed-header');
    $('p');

li.item
  h3.sub-heading
    = 'Família'

  p.description
    = 'Children? Parents? Siblings? É fácil lidar com elementos no jQuery é só pensar numa família. Você encontra um elemento e navega a partir dele usando essa metáfora.'

  pre.code.
    .children([seletor]); <span class="comment">// retorna os filhos deste elemento, opcionalmente filtrado por um seletor</span>
    .find([seletor]); <span class="comment">// todos os descendentes</span>
    .siblings([seletor]); <span class="comment">// todos os irmãos</span>
    .parent([seletor]); <span class="comment">// pai</span>
    .parents([seletor]); <span class="comment">// todos os antecessores</span>
    .closest(seletor); <span class="comment">// primeiro antecessor compatível</span>
    .first(); <span class="comment">// primeiro de um grupo</span>
    .last(); <span class="comment">// último de um grupo</span>
    .filter(seletor); <span class="comment">// reduz o grupo aos compatíveis</span>
    .end(); <span class="comment">// termina a ultima operação do encadeamento e retorna ao estado anterior</span>
    .each(); <span class="comment">// itera sobre todos os itens do grupo</span>

li.item
  h3.sub-heading
    = 'Caching'

  p.description
    = 'Se você vai manipular mais de uma vez aquele elemento é interessante que faça um cache dele, dessa forma'

  pre.code.
    var $el = $('p');

  h4.sub-heading-2
    = 'Teste de Performance'

  pre.code.code-performance.
    var total = 3000;

    <span class="comment">// sem cacher o elemento</span>
    console.time('timer 1');
    for(var i = 0; i < total; i++){ $('.code-performance').append(i); }
    console.timeEnd('timer 1');

    <span class="comment">// cacheando o elemento</span>
    console.time('timer 2');
    var $el = $('.code-performance');
    for(var i = 0; i < total; i++){ $el.append(i); }
    console.timeEnd('timer 2');

    <span class="comment">// fazendo o append no final</span>
    console.time('timer 3');
    var html = '';
    for(var i = 0; i < total; i++){ html += i; }
    $('.code-performance').append(html);
    console.timeEnd('timer 3');