h2.sub-heading
  = '1. CSS3!'

p.description
  = 'Implementa a especificação do CSS 1 ao 3 e adiciona mais alguns recursos. O jQuery usa a biblioteca Sizzle (http://sizzlejs.com/) como engine para seleção de elementos.'

pre.code
  = "$('body'); $('#fixed-header'); $('p')"
