li.item
  h3.sub-heading
    = 'O que é'

  p.description
    = 'jQuery é uma biblioteca Javascript que simplifica manipulação de elementos, possibilitando maneiras simples de se trabalhar com animações, ajax, eventos, etc. É versátil, fácil de se extender e bastante popular ao redor da web sendo por sites de todos os tipos.'

li.item
  h3.sub-heading
    = 'O que não é'

  p.description
    = 'Framework que impõe uma estrutura a sua aplicação (ex: MVC), como o Backbone e o Angular. Na verdade o jQuery pode ser usado em conjunto com esse tipo de framework, dentro do seu propóstio.'

li.item
  h3.sub-heading
    = 'Como instalar'

  pre.code
    = '<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>'

  p.obs
    = 'Usando um CDN popular como o do Google, aumentamos as chances do client já ter esse arquivo em seu cache'

li.item
  h3.sub-heading
    = 'Run it!'

  pre.code.
    $(function(){
      <span class="comment">// seu código aqui</span>
    });

  p.obs
    = 'É a mesma coisa que $(document).ready(function() {});'

li.item
  h3.sub-heading
    = 'Versão utilizada'

  pre.code.
    $.fn.jquery